body {
  background-color: #3B185F;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

canvas {
  padding: 4px;
  border: 4px solid #8cc7e1;
  border-radius: 8px;
  background-color: #ae81a0;
}

.btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

button {
  background-color: #F0CAA3;
  border-radius: 8px;
  border-color: #ededed;
  font-family: inherit;
  font-weight: bold;
  color: #302a2a;
  margin: 0;
  padding: 5px 20px;
  width: 100px;
  box-shadow: 0px 0px 5px 1px #115273;
}

button:not(:last-child) {
  margin-right: 10px;
}

.messages {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
  max-width: 460px;
}

p {
  display: block;
  margin: 0;
  width: 100%;
}

@media (max-width: 440px) {
  button {
    margin-top: 5px;
  }
  #up, #down {
    margin-left: 100%;
    margin-right: 100%;
  }
}